.navbar-container{
    background-color: rgb(1, 39, 1);
}

.navbar{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.heading{
    color: rgb(240, 240, 240);
    margin-left: 15px;
}

.link{
    display: inline-block;
    padding: 20px 25px;
    text-decoration: none;
    color: rgb(240, 240, 240);
}

.link:hover{
    background-color: rgb(17, 68, 1);
    border-radius: 3px;
}

.services-container{
    padding: 25px 140px;
}

.services-container a{
    text-decoration: none;
}

.services{
    border-radius: 10px;
    margin: 10px;
    padding: 8px;
    text-align: center;
    background-color: white;
    box-shadow: 1px 0px 10px gray;
}

.services i{
    font-size: 64pt;
    color: rgb(0, 65, 0);
}

.services h3{
    color: rgb(105, 105, 105);
}

@media only screen and (max-width: 1024px) {
    .navbar{
        justify-content: center;
    }
    .link {
        padding: 10px 10px;
    }
    .heading{
        margin-left: 0px;
        text-align: center;
    }
    .services-container{
        padding: 10px;
    }
}